/************************
google font
************************/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/************************
variables
************************/
$primaryColor: #007ec3;
$secondaryColor: #003368;
$white: white;
$transition: .3s ease;
$padding: 50px 0;
$fontFamily: 'PT Sans', sans-serif;
$fontSize: 14px;
$transition: .5s ease;
$secondaryColor2:#E0E0E0;
$grey:#f2f2f2;
$gold:#FFD700;
/************************
mixins
************************/
@mixin flex($justify,$align,$direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin hr($color,$width: 150px) {
    background: $color;
    width: $width;
    padding: 1px 0;
    margin: auto auto 20px auto;
    content: "";
}
@mixin btn($color: $primaryColor, $colorHover: $white, $borderColor: $primaryColor) {
    padding: 10px 30px;
    border: 3px solid $borderColor;
    color: $white;
    background: $primaryColor;
    font-size: 1.3rem;
    border-radius: 10px;
    &:hover {
        background: $secondaryColor;
        color: $white;
    }
}
/************************
bacis styles
************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    line-height: 1.6;
    font-size: $fontSize;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 60%;
    margin: auto;
}
.container2 {
    width: 30%;
    margin: auto;
}
.containerAds {
    width: 40%;
    margin: auto;
}
.containerSingleAd {
    width: 80%;
    margin: auto;
}
/************************
header
************************/
header {
    background-color: $primaryColor;
    color: $white;
    font-weight: 700;
    nav {
        @include flex(space-around, center, row);
        padding: 20px 0;
        font-size: 1.2rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $primaryColor;
        .logo {
            a {
                color: $white;
                img {
                    width: 200px;
                    height: 50px;
                }
            }
        }
        ul {
            @include flex(space-between, center, row);
            @media(max-width: 767px){
                @include flex(space-between, center, column);
                position: fixed;
                width: 100%;
                background: #2c3e50;
                top: 88px;
                left: -100%;
                text-align: center;
                padding: 30px 0;
            }
            li {
                padding: 0 10px;
                @media(max-width: 767px){
                    padding: 10px;
                }
                a {
                    color: $white;
                    &:hover {
                        background: $white;
                        color: $primaryColor;
                        padding: 5px;
                    }
                }
            }
            .insertAd {
                padding: 0 5px;
                background: #8cc63f;
                a {
                    &:hover {
                        background: #8cc63f;
                        color: $white;
                        padding: 0 5px;
                    }
                }
            }
        }
        .checkBtn {
            font-size: 30px;
            color: $white;
            background-color: $primaryColor;
            cursor: pointer;
            display: none;
            @media(max-width: 767px){
                display: block;
            }
        }                
    }
    hgroup {
        color:white;
        background: linear-gradient(rgba(black,.6),rgba(black,.6)), url(../site-images/header.jpg);
        background-position: center;
        background-size: cover;
        height: 60vh;
        text-transform: uppercase;
        @include flex(center, center, row);
        @media(max-width: 767px){
            height: 60vh;
        }
    }
}
/************************
log in form
************************/
.logInRegisterForm {
    padding: $padding;
    height: 100%;
    margin-bottom: 50px;
    @media(max-width: 767px) {
        padding: 10px 0;
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 3rem;
        color: $primaryColor;
        margin-bottom: 20px;
    }
    form {
        background: $secondaryColor2;
        padding: $padding;
        @include flex(space-between,center,column);
        input {
            width: 50%;
            margin-bottom: 20px;
            padding: 10px 0;
            padding-left: 10px;
            font-family: 'Playfair Display', serif;
            border: 3px solid $primaryColor;
            text-align: center;
            color: black;
            font-size: 16px;
            border-radius: 10px;
            @media(max-width: 767px) {
                width: 80%;
            }
        }
        button {
            @include btn;
            margin-top: 30px;
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        p {
            margin-top: 30px;
            color: black;
            font-size: 14px;
            a {
                color: $primaryColor;
                font-weight: 700;
                font-size: 16px;
                text-decoration: underline;
            }
        }
    }
}
/************************
logg in / register success message
************************/
.logInRegisterSuccess {
    text-align: center;
    background: green;
    color: $white;
    width: 100%;
}
/************************
logg in / register unsuccess message
************************/
.logInRegisterUnsuccess {
    text-align: center;
    background: red;
    color: $white;
    width: 100%;
}
/************************
search form
************************/
.searchForm {
    padding: $padding;
    @media(max-width: 767px) {
        width: 90%;
    }
    form{
        @media(max-width: 767px) {
            width: 100%;
        }
        .firstPartForm {
            @include flex(center,center,row);
            @media(max-width: 767px) {
                @include flex(center,center,column);
            }
            input {
                border: 2px solid $primaryColor;
                width: 100%;
                height: 40px;
                text-align: center;
                @media(max-width: 767px) {
                    width: 100%;
                    margin-top: 10px;
                }
                &:hover {
                    border: 3px solid $primaryColor;
                }
            }

        }
        .secondPartForm {
            @include flex(center,center,column);
            @media(max-width: 767px) {
                @include flex(center,center,column);
            }
            input {
                border: 2px solid $primaryColor;
                width: 100%;
                height: 40px;
                text-align: center;
                @media(max-width: 767px) {
                    width: 100%;
                    margin-top: 10px;
                }
                &:hover {
                    border: 3px solid $primaryColor;
                }
            }
            select {
                border: 2px solid $primaryColor;
                width: 100%;
                height: 40px;
                text-align: center;
                display: none;
                margin-top: 20px;
                @media(max-width: 767px) {
                    width: 100%;
                }
            }
            #city {
                width: 100%;
                margin-top: 20px;
                display: none;
                @media(max-width: 767px) {
                    width: 100%;
                }
            }
            #unhideExtraSearch {
                background-color: red;
                color: $white;
                border: 2px solid red;
                border-radius: 10px;
                padding: 3px;
                display: none;
                margin-top: 20px;
                &:hover {
                    background-color: white;
                    color: red;
                    cursor: pointer;
                }
            }
            .checkBox {
                border: 2px solid $primaryColor;
                margin-top: 20px;
                width: 100%;
                @include flex(space-between,center,row);
                display: none;
                @media(max-width: 767px) {
                    width: 100%;
                }
                div {
                    width: 50%;
                    @include flex(space-between,center,row);
                    input {
                        text-align: center;
                        margin: 10px;
                        width: 20%;
                    }
                    label {
                        text-align: left;
                        width: 50%;
                    }
                }
            }
            button {
                border: 2px solid $secondaryColor;
                height: 40px;
                width: 100%;
                background-color: $primaryColor;
                font-weight: 700;
                color: $white;
                margin-top: 20px;
                @media(max-width: 767px) {
                    width: 100%;
                    margin-top: 10px;
                }
                &:hover {
                    border: 3px solid $primaryColor;
                    background-color: $secondaryColor;
                }
            }
        }
    }
}
/************************
insert ad form
************************/
.insertAdForm {
    padding: $padding;
    @media(max-width: 767px) {
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 3rem;
        color: $primaryColor;
        margin-bottom: 20px;
    }
    form {
        @include flex(space-between,center,column);
        input,textarea,select {
            margin-bottom: 20px;
            border: 2px solid $primaryColor;
            font-size: 16px;
            width: 60%;
        }
        input {
            text-align: center;
            height: 40px;
        }
        select {
            text-align: center;
            height: 40px;
        }
        h3 {
            text-align: left;
            font-size: 1rem;
            color: $primaryColor;
            margin-bottom: 5px;
        }
        .uploadImage {
            border: none;
            margin-top: 10px;
        }
        .checkBox {
            border: 2px solid $primaryColor;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 50%;
            @include flex(space-between,center,row);
            @media(max-width: 767px) {
                padding: 0 20px;
            }
            div {
                width: 50%;
                @include flex(space-between,center,row);
                input {
                    text-align: center;
                    margin: 10px;
                    width: 20%;
                }
                label {
                    text-align: left;
                    width: 50%;
                }
            }
        }
        button {
            @include btn;
            border-radius: 0px;
            margin-top: 20px;
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
}
/************************
ad display
************************/
.adDisplay {
    @include flex(space-between,center,column);
    padding: $padding;
    @media(max-width: 767px) {
        width: 90%;
    }
    .ad {
        @include flex(space-between,center,row);
        width: 100%;
        margin-bottom: 50px;
        padding: 30px 30px;
        border: 2px solid $primaryColor;
        border-radius: 10px;
        box-shadow: 0px 0px 10px $primaryColor;
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        hgroup {
            @include flex(space-between,flex-start,row);
            width: 100%;
            margin-bottom: 20px;
            @media(max-width: 767px) {
                @include flex(space-between,center,column);
                padding: 10px 0;
            }
            p {
                @media(max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
        }
        img {
            max-width: 40%;
            height: 180px;
            font-weight: 700;
            font-size: 1.3rem;
            @media(max-width: 767px) {
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
        div {
            width: 60%;
            @include flex(flex-start,flex-start,column);
            @media(max-width: 767px) {
                width: 100%;
                text-align: justify;
            }
            .first {
                margin-left: 20px;
                width: 100%;
                @include flex(flex-start,flex-start,column);
                h2 {
                    margin-bottom: 10px;
                    color: $secondaryColor;
                    font-weight: 700;
                    font-size: 1.8rem;
                    @media(max-width: 767px) {
                        font-size: 1.8rem;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    a{
                        color: $secondaryColor;
                    }
                }
                p {
                    font-size: 1.2rem;
                }
                @media(max-width: 767px) {
                    @include flex(center,center,column);
                }
            }
            .tags {
                margin-left: 20px;
                width: 100%;
                margin-top: 20px;
                @include flex(flex-start,center,row);
                @media(max-width: 767px) {
                    @include flex(center,center,row);
                }
                p {
                    color: $primaryColor;
                    font-weight: 700;
                    font-size: 1.1rem;
                    margin-left: 10px;
                }
            }
            .second {
                margin-left: 20px;
                width: 100%;
                margin-top: 30px;
                @include flex(space-between,flex-start,row);
                @media(max-width: 767px) {
                    @include flex(space-between,center,row);
                }
                #price {
                    color: red;
                    font-weight: 700;
                    border: 2px solid red;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
                #seen {
                    color: $secondaryColor;
                    font-weight: 700;
                    border: 2px solid $secondaryColor;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
                #city {
                    color: $secondaryColor;
                    font-weight: 700;
                    border: 2px solid $secondaryColor;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
        .updateDeleteButton {
            width: 100%;
            margin-top: 50px;
            background-color: yellow;
            @include flex(space-around,center,row);
            text-align: center;
            #updateButton {
                padding: 5px;
                font-weight: 700;
                background-color: green;
                color: $white;
                flex: 0 50%;
            }
            #deleteButton {
                padding: 5px;
                font-weight: 700;
                background-color: red;
                color: $white;
                flex: 0 50%;
            }
        }
        /*
        &:hover {
            transform: scale(1.1,1.1);
        }
        */
    }
    .pagination {
        ul{
            list-style-type: none;
            @include flex(space-between,center,row);
            a {
                color:$white;
                background-color: $primaryColor;
                margin-right: 20px;
                padding: 10px;
                font-size: 1.5rem;
                font-weight: 700;
                &:hover {
                    background-color: $secondaryColor;
                    color: $white;
                    border: 2px solid $primaryColor;
                }
            }
        }
    }
}
/************************
ad display musicians
************************/
.adDisplayMusicians {
    @include flex(space-between,center,column);
    padding: $padding;
    @media(max-width: 767px) {
        width: 90%;
    }
    .ad {
        @include flex(center,center,row);
        width: 100%;
        margin-bottom: 50px;
        padding: 30px 30px;
        border: 2px solid $primaryColor;
        border-radius: 10px;
        box-shadow: 0px 0px 10px $primaryColor;
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        div {
            width: 100%;
            @include flex(center,center,column);
            @media(max-width: 767px) {
                width: 100%;
                text-align: justify;
            }
            .first {
                width: 100%;
                @include flex(center,center,column);
                h2 {
                    margin-bottom: 10px;
                    color: $secondaryColor;
                    font-weight: 700;
                    font-size: 1.8rem;
                    @media(max-width: 767px) {
                        font-size: 1.8rem;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    a{
                        color: $secondaryColor;
                    }
                }
                p {
                    font-size: 1.2rem;
                }
                @media(max-width: 767px) {
                    @include flex(center,center,column);
                }
            }
            .tags {
                width: 100%;
                margin-top: 10px;
                @include flex(center,center,row);
                p {
                    color: $primaryColor;
                    font-weight: 700;
                    font-size: 1.1rem;
                    margin-left: 10px;
                }
            }
            .second {
                width: 100%;
                margin-top: 30px;
                @include flex(space-between,flex-start,row);
                @media(max-width: 767px) {
                    @include flex(space-between,center,row);
                }
                .attributes {
                    color: $secondaryColor;
                    font-weight: 700;
                    border: 2px solid $secondaryColor;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
        .updateDeleteButton {
            width: 100%;
            margin-top: 50px;
            background-color: yellow;
            @include flex(space-around,center,row);
            text-align: center;
            #updateButton {
                padding: 5px;
                font-weight: 700;
                background-color: green;
                color: $white;
                flex: 0 50%;
            }
            #deleteButton {
                padding: 5px;
                font-weight: 700;
                background-color: red;
                color: $white;
                flex: 0 50%;
            }
        }
        /*
        &:hover {
            transform: scale(1.1,1.1);
        }
        */
    }
    .pagination {
        ul{
            list-style-type: none;
            @include flex(space-between,center,row);
            a {
                color:$white;
                background-color: $primaryColor;
                margin-right: 20px;
                padding: 10px;
                font-size: 1.5rem;
                font-weight: 700;
                &:hover {
                    background-color: $secondaryColor;
                    color: $white;
                    border: 2px solid $primaryColor;
                }
            }
        }
    }
}
/************************
single ad display
************************/
.singleAdDisplay {
    @include flex(space-between,center,column);
    padding: $padding;
    @media(max-width: 767px) {
        width: 90%;
    }
    .ad {
        @include flex(space-between,center,column);
        width: 100%;
        margin-bottom: 50px;
        padding: 30px 30px;
        border: 2px solid $primaryColor;
        border-radius: 10px;
        box-shadow: 0px 0px 10px $primaryColor;
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        hgroup {
            @include flex(space-between,flex-start,row);
            width: 100%;
            margin-bottom: 20px;
            @media(max-width: 767px) {
                @include flex(space-between,center,column);
                padding: 10px 0;
            }
            p {
                @media(max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
        }
        #slider {
            width: 800px;
            margin: 20px auto;
            border: 10px solid white;
            box-shadow: 0px 0px 5px 2px #ccc;
            @include flex(space-between,center,row);
            @media(max-width: 767px) {
                width: 100%;
                height: 400px;
                @include flex(space-between,center,row);
            }
            #box {
                width: 500px;
                @include flex(flex-start,center,column);
                img {
                    height: 400px;
                    max-width: 500px;
                    font-weight: 700;
                    font-size: 1.3rem;
                    @media(max-width: 767px) {
                        width: 100%;
                        height: 250px;
                        margin-bottom: 10px;
                    }
                }
                @media(max-width: 767px) {
                    order: 1
                }
            }
            .prew {
                border-radius: 40%;
                padding: 10px;
                border: none;
                background-color: $white;
                font-size: 30px;
                color: $primaryColor;
                cursor: pointer;
                @media(max-width: 767px) {
                    order: 3
                }
            }
            .next {
                border-radius: 40%;
                padding: 10px;
                border: none;
                background-color: $white;
                font-size: 30px;
                color: $primaryColor;
                cursor: pointer;
                @media(max-width: 767px) {
                    order: 3
                }
            }
        }
        div {
            width: 60%;
            @include flex(space-around,center,column);
            @media(max-width: 767px) {
                width: 100%;
                text-align: justify;
            }
            .first {
                width: 100%;
                padding: $padding;
                @include flex(space-around,center,column);
                h2 {
                    margin-bottom: 10px;
                    color: $secondaryColor;
                    font-weight: 700;
                    font-size: 1.8rem;
                    @media(max-width: 767px) {
                        font-size: 1.8rem;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    a{
                        color: $secondaryColor;
                    }
                }
                p {
                    font-size: 1.2rem;
                }
                @media(max-width: 767px) {
                    @include flex(center,center,column);
                }
            }
            .tags {
                width: 100%;
                margin-top: 20px;
                @include flex(space-around,center,row);
                p {
                    color: $primaryColor;
                    font-weight: 700;
                    font-size: 1.1rem;
                    margin-left: 10px;
                }
            }
            .second {
                width: 100%;
                margin-top: 30px;
                @include flex(space-between,flex-start,row);
                @media(max-width: 767px) {
                    @include flex(space-between,center,row);
                }
                #price {
                    color: red;
                    font-weight: 700;
                    border: 2px solid red;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
                #seen {
                    color: $secondaryColor;
                    font-weight: 700;
                    border: 2px solid $secondaryColor;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
                #city {
                    color: $secondaryColor;
                    font-weight: 700;
                    border: 2px solid $secondaryColor;
                    border-radius: 5px;
                    padding: 5px;
                    @media(max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
/************************
user form
************************/
.userForm {
    margin-top: 50px;
    @include flex(space-between,center,column);
    @media(max-width: 767px) {
        padding: 10px 0;
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 3rem;
        color: $primaryColor;
        margin-bottom: 20px;
    }
    form {
        width: 100%;
        //background: $secondaryColor2;
        padding: $padding;
        margin-bottom: 50px;
        @include flex(space-between,center,column);
        img {
            width: 400px;
            height: 400px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .uploadImage {
            border: none;
            margin-bottom: 50px;
        }
        input,select {
            width: 60%;
            margin-bottom: 20px;
            padding: 10px 0;
            padding-left: 10px;
            font-family: 'Playfair Display', serif;
            border: 3px solid $primaryColor;
            text-align: center;
            color: black;
            font-size: 16px;
            border-radius: 10px;
            @media(max-width: 767px) {
                width: 80%;
            }
        }
        select {
            text-align: center;
            height: 40px;
        }
        h3 {
            text-align: left;
            font-size: 1rem;
            color: $primaryColor;
            margin-bottom: 5px;
        }
        button {
            @include btn;
            margin-top: 20px;
            background-color: $primaryColor;
            color: $white;
            &:hover {
                background-color: $secondaryColor;
                color: $white;
            }
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
}

/************************
footer
************************/
footer {
    .container2{
        @media(max-width: 767px) {
            width: 80%;
        }
    }
    padding: $padding;
    background-color: $secondaryColor;
    @include flex(space-between,center,column);
    .footerSection1{
        margin-top: 20px;
        ul {
            @include flex(space-around,center,row);
            li{
                font-size: 2.6rem;
                a{
                    color: $white;
                    i {
                        color:$white;
                        &:hover{
                            color: $gold;
                        }
                    }
                }
            }
        }
    }
    .footerSection2{
        margin-top: 10px;
        @include flex(space-between,center,column);
        ul{
            @include flex(space-between,center,row);
            li{
                a{
                    color:$white;
                    font-size: 1.1rem;
                    padding: 0 20px;
                }
            }
        }
        p{
            color:$white;
            font-size: 1.1rem;
            margin-top: 30px;
        }
    }
}
/************************
insert ad button
************************/
.insertAdButton {
    height: 35px;
    width: 200px;
    background-color: green;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    @include flex(center,center,row);
    cursor: pointer;
    color: $white;
    font-weight: 700;
    &:hover {
        background-color: #8cc63f;
    }
}