/************************
google font
************************/

/************************
variables
************************/

/************************
mixins
************************/

/************************
bacis styles
************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}