/************************
google font
************************/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/************************
variables
************************/
/************************
mixins
************************/
/************************
bacis styles
************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
  margin: auto;
}

.container2 {
  width: 30%;
  margin: auto;
}

/************************
header
************************/
header {
  background-color: #007ec3;
  color: white;
  font-weight: 700;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007ec3;
}

header nav .logo a {
  color: white;
}

header nav .logo a img {
  width: 200px;
  height: 50px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    background: #2c3e50;
    top: 88px;
    left: -100%;
    text-align: center;
    padding: 30px 0;
  }
}

header nav ul li {
  padding: 0 10px;
}

@media (max-width: 767px) {
  header nav ul li {
    padding: 10px;
  }
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  background: white;
  color: #007ec3;
  padding: 5px;
}

header nav ul .insertAd {
  padding: 0 5px;
  background: #8cc63f;
}

header nav ul .insertAd a:hover {
  background: #8cc63f;
  color: white;
  padding: 0 5px;
}

header nav .checkBtn {
  font-size: 30px;
  color: white;
  background-color: #007ec3;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  header nav .checkBtn {
    display: block;
  }
}

header hgroup {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../site-images/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../site-images/header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  header hgroup {
    height: 60vh;
  }
}

/************************
log in form
************************/
.logInRegisterForm {
  padding: 50px 0;
  height: 100%;
}

@media (max-width: 767px) {
  .logInRegisterForm {
    padding: 10px 0;
    width: 100%;
  }
}

.logInRegisterForm h2 {
  text-align: center;
  font-size: 3rem;
  color: #007ec3;
  margin-bottom: 20px;
}

.logInRegisterForm form {
  background: #E0E0E0;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logInRegisterForm form input {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 10px;
  font-family: 'Playfair Display', serif;
  border: 3px solid #007ec3;
  text-align: center;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .logInRegisterForm form input {
    width: 80%;
  }
}

.logInRegisterForm form button {
  padding: 10px 30px;
  border: 3px solid #007ec3;
  color: #007ec3;
  background: white;
  font-size: 1.3rem;
  border-radius: 10px;
}

.logInRegisterForm form button:hover {
  background: #007ec3;
  color: white;
}

@media (max-width: 767px) {
  .logInRegisterForm form button {
    margin-bottom: 20px;
  }
}

.logInRegisterForm form p {
  margin-top: 30px;
  color: black;
  font-size: 14px;
}

.logInRegisterForm form p a {
  color: #007ec3;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

/************************
logg in / register success message
************************/
.logInRegisterSuccess {
  text-align: center;
  background: green;
  color: white;
  width: 100%;
}

/************************
logg in / register unsuccess message
************************/
.logInRegisterUnsuccess {
  text-align: center;
  background: red;
  color: white;
  width: 100%;
}

/************************
search form
************************/
.searchForm {
  padding: 50px 0;
}

.searchForm form .firstPartForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .searchForm form .firstPartForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.searchForm form .firstPartForm input {
  border: 2px solid #007ec3;
  width: 60%;
  height: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .searchForm form .firstPartForm input {
    width: 100%;
    margin-top: 10px;
  }
}

.searchForm form .firstPartForm input:hover {
  border: 3px solid #007ec3;
}

.searchForm form .firstPartForm button {
  border: 2px solid #007ec3;
  height: 40px;
  width: 10%;
  margin-left: 5px;
  background-color: #f2f2f2;
  font-weight: 700;
  color: #007ec3;
}

@media (max-width: 767px) {
  .searchForm form .firstPartForm button {
    width: 30%;
    margin-top: 10px;
  }
}

.searchForm form .firstPartForm button:hover {
  border: 3px solid #007ec3;
}

.searchForm form .secondPartForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .searchForm form .secondPartForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.searchForm form .secondPartForm input {
  border: 2px solid #007ec3;
  width: 60%;
  height: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .searchForm form .secondPartForm input {
    width: 100%;
    margin-top: 10px;
  }
}

.searchForm form .secondPartForm input:hover {
  border: 3px solid #007ec3;
}

.searchForm form .secondPartForm #city {
  width: 71%;
  margin-top: 20px;
  display: none;
}

.searchForm form .secondPartForm #unhideExtraSearch {
  color: red;
  border: 2px solid red;
  border-radius: 10px;
  padding: 3px;
  display: none;
  margin-top: 20px;
}

.searchForm form .secondPartForm #unhideExtraSearch:hover {
  background-color: red;
  color: white;
}

.searchForm form .secondPartForm .checkBox {
  border: 2px solid #007ec3;
  margin-top: 20px;
  width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

@media (max-width: 767px) {
  .searchForm form .secondPartForm .checkBox {
    width: 100%;
  }
}

.searchForm form .secondPartForm .checkBox div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.searchForm form .secondPartForm .checkBox div input {
  text-align: center;
  margin: 10px;
  width: 20%;
}

.searchForm form .secondPartForm .checkBox div label {
  text-align: left;
  width: 50%;
}

/************************
insert ad form
************************/
.insertAdForm {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .insertAdForm {
    width: 100%;
  }
}

.insertAdForm h2 {
  text-align: center;
  font-size: 3rem;
  color: #007ec3;
  margin-bottom: 20px;
}

.insertAdForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.insertAdForm form input, .insertAdForm form textarea, .insertAdForm form select {
  margin-bottom: 20px;
  border: 2px solid #007ec3;
  font-size: 16px;
  width: 60%;
}

.insertAdForm form input {
  text-align: center;
  height: 40px;
}

.insertAdForm form select {
  text-align: center;
  height: 40px;
}

.insertAdForm form h3 {
  text-align: left;
  font-size: 1rem;
  color: #007ec3;
  margin-bottom: 5px;
}

.insertAdForm form .uploadImage {
  border: none;
  margin-top: 10px;
}

.insertAdForm form .checkBox {
  border: 2px solid #007ec3;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .insertAdForm form .checkBox {
    padding: 0 20px;
  }
}

.insertAdForm form .checkBox div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.insertAdForm form .checkBox div input {
  text-align: center;
  margin: 10px;
  width: 20%;
}

.insertAdForm form .checkBox div label {
  text-align: left;
  width: 50%;
}

.insertAdForm form button {
  padding: 10px 30px;
  border: 3px solid #007ec3;
  color: #007ec3;
  background: white;
  font-size: 1.3rem;
  border-radius: 10px;
  border-radius: 0px;
  margin-top: 20px;
}

.insertAdForm form button:hover {
  background: #007ec3;
  color: white;
}

@media (max-width: 767px) {
  .insertAdForm form button {
    margin-bottom: 20px;
  }
}

/************************
ad display
************************/
.adDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .adDisplay {
    width: 90%;
  }
}

.adDisplay .ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 50px;
  padding: 30px 30px;
  border: 2px solid #007ec3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #007ec3;
          box-shadow: 0px 0px 10px #007ec3;
}

@media (max-width: 767px) {
  .adDisplay .ad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adDisplay .ad hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .adDisplay .ad hgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .adDisplay .ad hgroup p {
    margin-bottom: 10px;
  }
}

.adDisplay .ad img {
  max-width: 40%;
  height: 180px;
  font-weight: 700;
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .adDisplay .ad img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.adDisplay .ad div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .adDisplay .ad div {
    width: 100%;
    text-align: justify;
  }
}

.adDisplay .ad div .first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adDisplay .ad div .first h2 {
  margin-bottom: 10px;
  color: #003368;
  font-weight: 700;
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  .adDisplay .ad div .first h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
  }
}

.adDisplay .ad div .first p {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .adDisplay .ad div .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adDisplay .ad div .tags {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.adDisplay .ad div .tags p {
  color: #007ec3;
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 10px;
}

.adDisplay .ad div .second {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .adDisplay .ad div .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.adDisplay .ad div .second #price {
  color: red;
  font-weight: 700;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 767px) {
  .adDisplay .ad div .second #price {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.adDisplay .ad div .second #seen {
  color: #003368;
  font-weight: 700;
  border: 2px solid #003368;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 767px) {
  .adDisplay .ad div .second #seen {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.adDisplay .ad div .second #city {
  color: #003368;
  font-weight: 700;
  border: 2px solid #003368;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 767px) {
  .adDisplay .ad div .second #city {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.adDisplay .ad:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/************************
footer
************************/
footer {
  background-color: #003368;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerSection1 {
  margin-top: 20px;
}

footer .footerSection1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerSection1 ul li {
  font-size: 2.6rem;
}

footer .footerSection1 ul li a {
  color: white;
}

footer .footerSection2 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerSection2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerSection2 ul li a {
  color: white;
  font-size: 1.1rem;
  padding: 0 20px;
}

footer .footerSection2 p {
  color: white;
  font-size: 1.1rem;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */