/************************
google font
************************/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/************************
variables
************************/
/************************
mixins
************************/
/************************
bacis styles
************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
  margin: auto;
}

/************************
header
************************/
header {
  background-color: #007ec3;
  color: white;
  font-weight: 700;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0;
  font-size: 1.2rem;
}

header nav .logo a {
  color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    background: #2c3e50;
    top: 88px;
    left: -100%;
    text-align: center;
    padding: 30px 0;
  }
}

header nav ul li {
  padding: 0 10px;
}

@media (max-width: 767px) {
  header nav ul li {
    padding: 10px;
  }
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  background: white;
  color: #007ec3;
  padding: 5px;
}

header nav ul .insertAd {
  padding: 0 5px;
  background: #8cc63f;
}

header nav ul .insertAd a:hover {
  background: #8cc63f;
  color: white;
  padding: 0 5px;
}

header nav .checkBtn {
  font-size: 30px;
  color: white;
  background-color: #007ec3;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  header nav .checkBtn {
    display: block;
  }
}

header hgroup {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../site-images/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../site-images/header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  header hgroup {
    height: 60vh;
  }
}

/************************
log in form
************************/
.logInRegisterForm {
  padding: 50px 0;
  height: 100%;
}

@media (max-width: 767px) {
  .logInRegisterForm {
    padding: 10px 0;
    width: 100%;
  }
}

.logInRegisterForm h2 {
  text-align: center;
  font-size: 3rem;
  color: #007ec3;
  margin-bottom: 20px;
}

.logInRegisterForm form {
  background: #E0E0E0;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logInRegisterForm form input {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 10px;
  font-family: 'Playfair Display', serif;
  border: 3px solid #007ec3;
  text-align: center;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .logInRegisterForm form input {
    width: 80%;
  }
}

.logInRegisterForm form button {
  padding: 10px 30px;
  border: 3px solid #007ec3;
  color: #007ec3;
  background: white;
  font-size: 1.3rem;
  border-radius: 10px;
}

.logInRegisterForm form button:hover {
  background: #007ec3;
  color: white;
}

@media (max-width: 767px) {
  .logInRegisterForm form button {
    margin-bottom: 20px;
  }
}

.logInRegisterForm form p {
  margin-top: 30px;
  color: black;
  font-size: 14px;
}

.logInRegisterForm form p a {
  color: #007ec3;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

/************************
logg in / register success message
************************/
.logInRegisterSuccess {
  text-align: center;
  background: green;
  color: white;
  width: 100%;
}

/************************
logg in / register unsuccess message
************************/
.logInRegisterUnsuccess {
  text-align: center;
  background: red;
  color: white;
  width: 100%;
}

/************************
search form
************************/
.searchForm {
  padding: 50px 0;
}

.searchForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .searchForm form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.searchForm form input {
  border: 2px solid #007ec3;
  width: 60%;
  height: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .searchForm form input {
    width: 100%;
    margin-top: 10px;
  }
}

.searchForm form input:hover {
  border: 3px solid #007ec3;
}

.searchForm form button {
  border: 2px solid #007ec3;
  height: 40px;
  width: 10%;
  margin-left: 5px;
  background-color: #f2f2f2;
  font-weight: 700;
  color: #007ec3;
}

@media (max-width: 767px) {
  .searchForm form button {
    width: 30%;
    margin-top: 10px;
  }
}

.searchForm form button:hover {
  border: 3px solid #007ec3;
}
/*# sourceMappingURL=style.css.map */